@import 'include-media/dist/_include-media';

.placesInputs {
  display: flex;
  flex-direction: column;

  @include media(">tablet") {
    flex-direction: row;
  }

  .google-places-autocomplete {
    width: 100%;
    margin-bottom: 1rem;

    @include media(">tablet") {
      width: 50%;
    }
  }
}