@import 'include-media/dist/_include-media';

.placesInputs {
  display: flex;
  flex-direction: column;

  @include media(">tablet") {
    flex-direction: row;
  }

  .google-places-autocomplete {
    margin-bottom: 1rem;

    input {
      width: 100%;

      @include media(">tablet") {
        width: 50%;
      }
    }
  }
}