@import 'include-media/dist/_include-media';

.placesInputs {
  display: flex;
  flex-direction: column;

  @include media(">tablet") {
    flex-direction: row;
  }

  .google-places-autocomplete {
    margin-bottom: 1rem;

    input {
      width: 100%;
      border-radius: 0;
    }
  }

  .inputWithCloseButton {
    width: 100%;
    display: flex;

    &:first-of-type {
      @include media(">tablet") {
        margin-right: .5rem;
      }
    }

    &:last-of-type {
      @include media(">tablet") {
        margin-left: .5rem;
      }
    }

    button {
      padding: 0;
      background: #d4d4d4;
      border: 0;
      cursor: pointer;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        font-size: 16px;
        height: 16px;
        width: 16px;
        opacity: .5;
      }
    }
  }
}